<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="fr-fr"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="fr-fr"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="fr-fr"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="fr-fr"> <!--<![endif]-->
<head>

  <title>Cartes Postales de Saint-Privat</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="description" content="Une collection de cartes postales sur le village de Saint-Privat en Ardèche">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">
  <link rel="stylesheet" href="/stylesheets/layout.css">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="page" class="container">

    <header class="sixteen columns">
      <h1><a href="/">Cartes Postales de Saint-Privat</a></h1>
    </header>

    <section id="main">
<%= yield %>
    </section>

    <footer class="sixteen columns">
      <p>
        <a href="http://www.ruby-lang.org/">Ruby</a>
        + <a href="http://www.sinatrarb.com/">Sinatra</a>
        + <a href="http://www.getskeleton.com/">Skeleton</a>
        + <a href="http://heroku.com/">Heroku</a>
      </p>
    </footer>

  </div>
</body>

</html>