<% if @carte.errors.any? %>
  <ul>
  <% @carte.errors.each do |error| %><li><%= unescapeHTML(error.join(",")) %></li><% end %>
  </ul>
<% end %>

<form action="/admin" method="post">
  <fieldset class="sixteen columns">
    <div class="five columns alpha">
      <label for="titre">Titre de la carte *</label>
    </div>
    <div class="eleven columns omega">
      <input id="titre" name="carte[titre]" type="text" value="<%= @carte.titre %>" />
    </div>
    <div class="five columns alpha">
      <label for="url">URL de la carte *</label>
    </div>
    <div class="eleven columns omega">
      <select id="url" name="carte[url]">
        <%= select_options(@urls_utilisables, @carte.url) %>
      </select>
    </div>
    <p class="offset-by-five eleven columns alpha">
      <input type="submit" value="Enregistrer cette carte" />
      <a href="/">Annuler</a>
    </p>
  </fieldset>
</form>